
.labelWhite{
    -fx-background-color: #ffffff;
}

.labelWhite:hover {
    -fx-background-color: linear-gradient(to bottom,  #cfe7fa 0%,#6393c1 100%);
	-fx-background-radius: 3,2,1;
}

.labelScore {
	 -fx-background-color: #ffffff;
	 
}

.labelScore:hover {
 /*   -fx-background-color: linear-gradient(to bottom,  #cfe7fa 0%,#6393c1 100%);
	-fx-background-radius: 3,2,1;*/
}

.labelCarom {
	  -fx-background-color: #ffffff;
	  -fx-text-fill: #000000;
}

.labelCarom:hover {
    -fx-background-color: linear-gradient(to bottom,  #cfe7fa 0%,#6393c1 100%);
	-fx-text-fill: #ffffff;
	-fx-background-radius: 3,2,1;
	

}