
.labelWhite{
    -fx-background-color: #ffffff;
}

.labelWhite:hover {
    -fx-background-color: linear-gradient(to bottom,  #cfe7fa 0%,#6393c1 100%);
	-fx-background-radius: 3,2,1;
}

.labelScore {
	 -fx-background-color: #00008B;
	 
}

.labelPlayer {
	-fx-text-fill: #81CFE0;
}

.labelScore:hover {
 /*   -fx-background-color: linear-gradient(to bottom,  #cfe7fa 0%,#6393c1 100%);
	-fx-background-radius: 3,2,1;*/
}

.labelCarom {
	  -fx-background-color: #00008B;
	  -fx-text-fill: #ffffff;
}

.labelCarom:hover {
    -fx-background-color: linear-gradient(to bottom,  #cfe7fa 0%,#6393c1 100%);
	/*-fx-text-fill: #FFFF00;*/
	-fx-background-radius: 3,2,1;
}

.button {
	-fx-background-color: linear-gradient(to bottom,  #cfe7fa 0%,#6393c1 100%);
	  -fx-text-fill: #000000;
}

.button:hover {
	-fx-background-color: #0A00FF;
	-fx-text-fill: #FFFF00;
}
.checkbox:hover {
	-fx-background-color: #0A00FF;
	-fx-text-fill: #FFFF00;
}